<ul>
 <li><a href="{% url 'taxi:index' %}">Home page</a></li>
 <li><a href="#">Manufacturers</a></li>
 <li><a href="#">Cars</a></li>
 <li><a href="#">Drivers</a></li>
</ul>


{#Write realization of sidebar include that must have a list of empty links:#}
{##}
{#Home page#}
{#Manufacturers#}
{#Cars#}
{#Drivers#}
{#Anchor tags can serve as placeholder links for this task, #}
{#meaning the actual destination of the link is not a concern. #}
{#For example, you can use href="#" as the link destination.#}